/* Variable yang akan digunakan berkali-kali */
:root {
  --yellow: rgba(252, 183, 23, 1);
  --blue: rgba(34, 52, 104, 1);
  --gray: rgba(240, 240, 240, 1);
  --fs-md: 18px; 
  --fs-lg: 36px; 
  --fs-xl: 50px; 
}
